@import "../../../variables.scss";

.shop-list {

  .logo {
    display:block;
    margin:0 auto;

  }
  .title {
    text-align:center;
    color:rgb(95, 85, 85);
    margin-top: 5rem;
  }
  .add {
    color: $dark-orange;
    background-color: $light-orange;
    border-radius:5px;
    float:right;
  }
  .shop-item{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:5rem;
  }
}


