/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: 'Lato', sans-serif;
  background-color:$light-green;
}

//color
$basic-yellow: #ffd977;
$light-yellow: rgb(249, 245, 237);
$basic-orange: #d86d38;
$basic-green: #dbded1;

.yellow{
  color:$basic-yellow;
}
.orange {
  color:$basic-orange;
}
.green {
  color:$basic-green;
}
.light-yellow {
  color:$light-yellow;
}

//font-size
.font-12 {
  font-size: 12px;
}
.font-14{
  font-size:14px;
}
.font-16 {
  font-size:16px;
}
.font-18 {
  font-size:18px;
}
.font-20 {
  font-size:20px;
}
.font-24 {
  font-size:24px;
}
.font-32 {
  font-size:32px;
}

// img size
.w-100{
  width:100%;
}
.w-85{
  width:85%;
}

.w-70 {
  width:70%;
}

.w-50 {
  width:50%;
}

.w-30 {
  width:70%;
}

.w-25 {
  width:25%;
}

.w-20 {
  width:20%;
}

.w-15 {
  width:15%;
}

.w-5 {
  width:5%;
}
