$basic-yellow: #ffd977;
$light-yellow: rgb(249, 245, 237);
$basic-orange: #d86d38;
$basic-green: #dbded1;
// $light-green: #e7e8e2;
$dark-green:#5d624a;
$light-green: #eeeeee;
$basic-orange: #ebc9b9;
$basic-grey: rgb(95, 85, 85);
$light-orange: #f5ece7;
$dark-orange: #df520c;
